.left-part{
    height: 100vh;
}

.input{
    height: 6rem;
    font-size: 1.5rem;
}

.output{
    height: 8rem;
    font-size: 4rem;
}

.calc{
    background-color: #F3F3F3;
}


body.dark-mode {
    background-color: #121212 !important;
    color: white;
}
 
body.dark-mode .bg-light {
    background-color: #1e1e1e !important;
}
 
body.dark-mode .btn {
    background-color: #2c2c2c;
    color: white;
    border-color: #444;
}
 
body.dark-mode .btn-primary {
    background-color: #0d6efd;
}
 
body.dark-mode .bg-white {
    background-color: #1e1e1e !important;
 
}
 
body.dark-mode .border {
    border-color: #444 !important;
}
 
body.dark-mode .calc{
    background-color: #1e1e1e;
}

body.dark-mode .offcanvas{
    background-color: #1e1e1e;
}

body.dark-mode .themeText,
body.dark-mode .modeText,
body.dark-mode hr,
body.dark-mode .history-input,
body.dark-mode .history-output {
  color: white !important;
}

body.dark-mode .closeBtn{
    background-color: white;
}

.history-content::-webkit-scrollbar{
    display: none;
}

.right-part{
    overflow: hidden;
}

.history-content{
    flex: 1;
    overflow-y: auto;     
    overflow-x: hidden;
}